<div id="login">
<h2>Staff Login</h2>

<%= form_tag(sessions_path, method: :create) do %>

  <h4>Name:</h4>
  <%= text_field :session, :name, placeholder: "Enter your name", required: true, class: "form-control"%>
  
  <h4>Password:</h4>
  <%= password_field :session, :password, placeholder: "Enter your password", required: true, class: "form-control"  %>
  <br>
  <%= submit_tag 'Login', class: "form-control btn-primary" %>
<% end %>

</div>