<div id="welcome">
	<img src="http://homologacao.digitalmenu.com.br/files/07192015112137logo.png" id="restaurant-logo">
	<% if current_client.present? %>
	<%=form_tag(tables_redirect_to_table_path) do %>
		


		Enter Table Code:
	    <%= text_field_tag :code,"", maxlength: 15, class: "form-control", placeholder: "Ask the waiter for your code" %><br>
	    <%= submit_tag 'Go to table', class: "form-control btn-primary" %>
	<%end%>
	<% else %>

	
	<h5>Sign in with Facebook first</h5>

	<%= link_to "/auth/facebook", id: "sign_in", class: "btn btn-block btn-social btn-facebook" do %>
		<span class="fa fa-facebook"></span> Login with Facebook
		<% end %>



	<% end %>


	<br>

</div>