/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree.
 *= require bootstrap.min
 *= require_self
 */

body
{
	background-color: #5780E9;
	font-family: 'Roboto', sans-serif;
	color: #000;
}

#tables
{
	vertical-align: top;
	color:black;
	width:250px;
	height:auto;
	margin-top:0;
	background-color:#fff;
	border-radius:4px;
	border: 3px solid #DDD;
	padding:10px 10px 10px 10px;
	margin:2px;
	display: inline-block;
}

#container
{
	/*margin: 80px;*/
	margin-top: 15px;
	padding: 0px 40px 0px 40px;
	background-color: #FFF;
	/*height: 60vh;*/
	border-radius: 16px;
	/*text-align: center;*/
/*
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
*/
}

#toolbar
{
	background-color: white;
	color:black;
	padding: 5px;
	margin-bottom: 10px;
}

.cardImage
{
	width: 100px;
	height: auto;

	margin-top: 10px;
	color: #5780E9;
}

.homeCard:hover
{
	cursor: hand;
}

button
{
	color: #fff;
}

.homeCard
{
	text-align: center;
	font-size: 26px;

	height: 170px;
	width: 150px;
	margin: 10px;
	border-radius: 6px;
	border-style: solid;
	border-width: 2px;
	border-color: #5780E9;
}

#orders
{
	padding-left: 20px;
	text-align: left;
}

#menu
{
	/*border-style: solid;*/
	border-left: 2px solid #5780E9;
}

#profile
{
	margin-left: -40px;
	text-align: center;
}

#dishes
{
	padding-left: 20px;
}

#category
{
	padding-left: 20px;
}

.list-group-item
{
	height: 90px;
}


#welcome
{
	border-radius: 16px;
	margin:15% auto 0% auto;
	display: block;
	text-align: center;
	background-color: #fff;
	width: 240px;
	height: 300px;
	padding: 10px;
}

#login
{
	border-radius: 16px;
	margin:15% auto 0% auto;
	display: block;
	text-align: left;
	background-color: #fff;
	width: 240px;
	height: 300px;
	padding: 10px;
}

tr
{
	border-radius: 5px;
}

.btn
{
	margin: 5px;
}


/*SMARTPHONE*/
@media only screen and (max-width: 768px)
{
	h1{	}
	#container
	{
		padding: 10px;
		margin: 5px;
	}
/*	#profile
	{
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 50%;
	}*/
	#container
	{
		padding: 10px;
	}

}


@media only screen and (max-width: 480px)
{
	h1{}
	#container
	{
		padding: 10px;
		margin: 5px;
	}

/*	#profile
	{
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 50%;
	}*/
	#tables
	{
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	h3
	{
		font-size: 20px;
	}
	h5
	{
		font-size: 18px;
	}
}