<!-- Flash -->
<% if flash[:success] or flash[:error] %>
  <div id="message">
    <% if flash[:success] %>
      <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= t(:success) %>!</strong> <%= flash[:success]%>
      </div>
    <%end%>
    <% if flash[:error] %>
      <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= t(:error) %>!</strong> <%= flash[:error]%><br>
      </div>
    <%end%>
  </div>
<% end %>
<script>
  alertMessage();
</script>
<!-- Flash End -->
<br>